body {
  margin: 40px;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
	width: 500px;
  	margin: 0 auto;
  	background-color: #efefef;	
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around
}


.box {
  	color: #fff;
  	border-radius: 5px;
  	padding: 20px;
  	text-align: center;
 	width: 100px;
 	height: 400px;
 	
}

.one {
  	background-color: blue;
  	color: #fff;
}

.two {
  	background-color: purple;
  	color: #fff;
}

.three {
  	background-color: grey;
  	color: #fff;
}

.four {
  	background-color: brown;
  	color: #fff;
}

@media screen and (max-width: 1140px) {

	.wrapper {
		transition: 0.3s;
		flex-direction: row;
	}
}


@media screen and (min-width: 300px) {

	.wrapper {
		width: 100%;
		transition: 0.3s;
		flex-direction: row;
	}


}
@media screen and (max-width: 300px) {

	.wrapper {
		width: 100%;
		transition: 0.3s;
		flex-direction: column;
	}
	
	.one {
		width: 100%;
		transition: 0.3s;
		background-color: pink;
	}

	.two {
		width: 100%;
		transition: 0.3s;
		background-color: red;
	}
	
	.three {
		width: 100%;
		transition: 0.3s;
		display: none;
	}

	.four {
		width: 100%;
		transition: 0.3s;
		display: none;
	}
}


